_target_: nablaDFT.qhnet.QHNetLightning

model_name: "QHNet"
net:
  _target_: nablaDFT.qhnet.QHNet
  _convert_: partial
  sh_lmax: 4
  hidden_size: 128
  bottle_hidden_size: 32
  num_gnn_layers: 5
  max_radius: 12
  num_nodes: 83
  radius_embed_dim: 32
  orbitals:
    1: [0, 0, 1]
    6: [0, 0, 0, 1, 1, 2]
    7: [0, 0, 0, 1, 1, 2]
    8: [0, 0, 0, 1, 1, 2]
    9: [0, 0, 0, 1, 1, 2]
    16: [0, 0, 0, 0, 1, 1, 1, 2]
    17: [0, 0, 0, 0, 1, 1, 1, 2]
    35: [0, 0, 0, 0, 0, 1, 1, 1, 1, 2, 2, 2]

optimizer:
  _target_: torch.optim.AdamW
  _partial_: true
  amsgrad: true
  betas: [0.9, 0.95]
  lr: 5e-4

lr_scheduler:
  _target_: torch.optim.lr_scheduler.ReduceLROnPlateau
  _partial_: true
  factor: 0.8
  patience: 10
  min_lr: 1e-6

losses:
  hamiltonian:
    _target_: nablaDFT.qhnet.loss.HamiltonianLoss
loss_coefs:
  hamiltonian: 1.0

metric:
  _target_: torchmetrics.MultitaskWrapper
  _convert_: all
  task_metrics:
    hamiltonian:
      _target_: nablaDFT.qhnet.MaskedMeanAbsoluteError

ema:
  _target_: torch_ema.ExponentialMovingAverage
  _partial_: true
  decay: 0.9999